.createPost{
    text-align: left;
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius: 40px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

.createPost > p{
    font-size: 16px;
    font-weight: bold;
}

.createPost > h1{
    text-align: center;
}

form{
    margin-top: 20px;
}

input[type="text"], textarea, input[type="date"], input[type="time"], input[type="checkbox"]{
    margin-top: 10px;
    margin-left: 21px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 7px;
    font-size: 16px;
}

#title, #desc, #loc{
    width: 650px;
}

#desc{
    margin-left: 10px;
}

input[type="text"], input[type="date"], input[type="time"]{
    height: 40px;
}

.checkboxText{
    font-size: 18px;
}

input[type="checkbox"]{
    margin-top: 20px;
}

#submit, #cancel{
    width: 150px;
    height: 40px;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 20px;
}

input:focus, textarea:focus, button:focus{
    outline: none;
    border: 2px black solid;
}

input[type="submit"]{
    background-color: rgb(69, 218, 69);
}

input[type="submit"]:hover{
    background-color: rgb(59, 189, 59);
}

input:disabled{
    background-color: lightgray;
}

button{
    background-color: darkgrey;
}

body{
        margin: 0;
    margin-bottom: 200px;
    background-color: rgb(211, 211, 211);
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.clear{
    clear: both;
}