.center-cropped {
    width: 250px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
  }

  .profilePic {
      background: linear-gradient(to bottom, rgb(0,119,181) 50%, white 50%);
  }

  .usernameLabel {
      padding-top: 10px;
  }

  .companyName {
      padding-top: 5px;
  }

  .InviteButton {
      margin-top: 15px;
  }

.bundleText {
    border: 1px solid black;
    width: 600px;
    height: 370px;
    text-align: left;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.BTLeft {
    float: right;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.BTRight {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.info {
    font-size: 20px;
}

.titles {
    font-size: 30px;
    padding-bottom: 5px;
}

.buttonStuff {
    margin: 15px;
}

.buttonInvite {
    float: right;
}

.buttonEdit {
    float: left;
}

.labels {
    font-size: 20px;
}

.changeForm {
    margin: 0px;
}

.AboutMeTxt {
    border-radius: 18px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

.titleStuff {
    text-align: center;
}
