.center-cropped {
    width: 12.5%;
    height: 12.5%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
  }

  .profilePic {
      background: linear-gradient(to bottom, rgb(0,119,181) 50%, white 50%);
  }

  .usernameLabel {
      padding-top: 0.7%;
  }

  .companyName {
      padding-top: 0.5%;
  }

  .InviteButton {
      margin-top: 1%;
  }

.bundleText {
    border: 1px solid black;
    width: 95%;
    height: 95%;
    text-align: left;
    padding: 2.5%;
    margin-top: 2.5%;
    word-wrap: break-word;
}

.BTLeft {
    float: right;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.BTRight {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.info {
    font-size: 20px;
}

.titles {
    font-size: 30px;
    padding-bottom: 5px;
}

.buttonStuff {
    margin: 1.5%;
}

.buttonInvite {
    float: right;
}

.buttonEdit {
    float: left;
}

.labels {
    font-size: 20px;
}

.changeForm {
    margin: 0 2.5% 0 2.5%;
}

.AboutMeTxt {
    border-radius: 18px;
    border: 1px solid black;
    margin-left: 2.5%;
    width: 90%;
    padding: 1.5%;
}

.titleStuff {
    text-align: center;
}

.form-group {
    padding-right: 0;
    margin-right: 0;
}

.no-resize {
    min-height: 50px;
    min-width: 50px;
}
